<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Successful</title>
  <style>
    body {
      font-family: sans-serif;
      font-size: 11pt;
    }
  </style>
  <script type="text/javascript">
    window.onload = function() {
      document.getElementById('muxForm').submit();
    };
    window.setTimeout(function() {
      document.getElementById('continue').style.display = "block";
    }, 2000);
  </script>
</head>
<body>
<form id="muxForm" action="%[1]s" method="post">
  <input type="hidden" name="state" value="%[2]s">
  %[3]s
  <noscript>
    <h2>Login Successful</h2>
    <p><input type="submit" value="Continue"></p>
  </noscript>
  <div id="continue" style="display: none">
    <h2>Login Successful</h2>
    <p>Please wait whilst you are redirected to the service.</p>
    <p>If you are not redirected within 10 seconds, click the button to continue.</p>
    <p><input type="submit" value="Continue"></p>
  </div>
</form>
</body>
</html>